*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

#rootSpinner {
  position: absolute;
  inset: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
#rootSpinner[data-animation="rootSpinnerFadeOut"] {
  animation: rootSpinnerFadeOut 1s ease-in;
}

@keyframes rootSpinnerFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Spinner */
.spinner {
  --spinner-gap: 10ch;
  --spinner-text-color: theme(colors.primary.800);
  --spinner-text-shadow-blur-radius: 0.4rem;
  --spinner-text-shadow-color: theme(colors.primary.50);
  --spinner-animation-index: 1;
  --spinner-animation-index-duration-factor: 1;
  --spinner-animation-duration: 3s;
  --spinner-animation-size: 0.3rem;
  --spinner-animation-gap: 0.2rem;
  --spinner-animation-color-even: theme(colors.primary.500);
  --spinner-animation-color-odd: theme(colors.secondary.500);

  position: relative;
  display: grid;
  place-items: center;
  border-radius: 9999px;
}
.dark .spinner {
  --spinner-text-color: theme(colors.primary.50);
  --spinner-text-shadow-color: theme(colors.primary.800);
  --spinner-animation-color-even: theme(colors.primary.50);
}
.spinner:not(:has(.spinner__text)) {
  --spinner-gap: 0px;
}

.spinner__text {
  position: absolute;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 900;
  color: var(--spinner-text-color);
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  text-shadow:
    0 -1px var(--spinner-text-shadow-blur-radius) var(--spinner-text-shadow-color),
    0 1px var(--spinner-text-shadow-blur-radius)
      var(--spinner-text-shadow-color),
    1px -1px var(--spinner-text-shadow-blur-radius) var(--spinner-text-shadow-color),
    1px 0 var(--spinner-text-shadow-blur-radius)
      var(--spinner-text-shadow-color),
    1px 1px var(--spinner-text-shadow-blur-radius)
      var(--spinner-text-shadow-color),
    -1px -1px var(--spinner-text-shadow-blur-radius)
      var(--spinner-text-shadow-color),
    -1px 0 var(--spinner-text-shadow-blur-radius) var(--spinner-text-shadow-color),
    -1px 1px var(--spinner-text-shadow-blur-radius) var(--spinner-text-shadow-color);
}

.spinner__animation {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  border-radius: 9999px;
  border-style: solid;
  border-block-width: var(--spinner-animation-size);
  border-top-color: var(--spinner-animation-color-even);
  border-bottom-color: var(--spinner-animation-color-even);
  border-left-color: transparent;
  border-right-color: transparent;
  padding: calc(
    (
        var(--spinner-animation-index) *
          (var(--spinner-animation-size) + var(--spinner-animation-gap))
      ) + (var(--spinner-gap) / 2)
  );
  animation: spinner var(--spinner-animation-duration) linear infinite;
  animation-duration: calc(
    var(--spinner-animation-index) *
      var(--spinner-animation-index-duration-factor) *
      var(--spinner-animation-duration)
  );
}
.spinner__animation:nth-of-type(2n + 1) {
  border-top-color: var(--spinner-animation-color-odd);
  border-bottom-color: var(--spinner-animation-color-odd);
  animation-direction: reverse;
}
.spinner__animation:nth-of-type(2) {
  --spinner-animation-index: 2;
}
.spinner__animation:nth-of-type(3) {
  --spinner-animation-index: 3;
}
.spinner__animation:nth-of-type(4) {
  --spinner-animation-index: 4;
}
.spinner__animation:nth-of-type(5) {
  --spinner-animation-index: 5;
}
.spinner__animation:nth-of-type(6) {
  --spinner-animation-index: 6;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
