@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark */
.dark {
  color-scheme: dark;
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: theme(colors.scrollbar) transparent;
}

*::-webkit-scrollbar {
  @apply w-2;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full bg-scrollbar;
}

.scrollbar-hidden {
  scrollbar-color: transparent transparent;
}

.scrollbar-hidden:hover {
  scrollbar-color: theme(colors.scrollbar) transparent;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  @apply bg-scrollbar;
}

/* Modal */
.modal {
  @apply z-40 scale-50 rounded-xl bg-primary-50 p-0 text-primary-800 opacity-0 shadow-focus-lg outline-none transition-all ease-in dark:bg-primary-900 dark:text-primary-50;

  transition-behavior: allow-discrete;
}
.modal[open] {
  @apply scale-100 opacity-100 ease-out;
}
@starting-style {
  .modal[open] {
    @apply scale-50 opacity-0;
  }
}
.modal::backdrop {
  @apply bg-primary-300 bg-opacity-0 backdrop-blur-none transition-all ease-out dark:bg-primary-800 dark:bg-opacity-0;

  transition-behavior: allow-discrete;
}
.modal[open]::backdrop {
  @apply bg-opacity-50 backdrop-blur-sm ease-in dark:bg-opacity-50;
}
@starting-style {
  .modal[open]::backdrop {
    @apply bg-opacity-0 backdrop-blur-none dark:bg-opacity-0;
  }
}

/* Ripple */
.ripple {
  --ripple-animation-color: theme(colors.focus);
  --ripple-animation-duration: 3000ms;

  @apply relative;
}

.ripple__animation {
  --ripple-animation-left: 50%;
  --ripple-animation-top: 50%;
  --ripple-animation-size: 100%;

  @apply absolute inset-0 overflow-hidden;

  border-radius: inherit;
}
.ripple__animation::after {
  @apply pointer-events-none absolute -translate-x-1/2 -translate-y-1/2 scale-0 rounded-full transition-colors;

  content: "";
  left: var(--ripple-animation-left);
  top: var(--ripple-animation-top);
  height: var(--ripple-animation-size);
  width: var(--ripple-animation-size);
  background-color: var(--ripple-animation-color);
  animation: ripple var(--ripple-animation-duration) ease-out infinite;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scale(1);
  }
}

/* Popup */
.popup {
  @apply relative h-fit w-fit;
}

.popup__toggler-icon {
  @apply transition-transform;
}
.popup[aria-expanded="true"] .popup__toggler-icon {
  @apply -scale-100;
}

.popup__content {
  @apply absolute z-50 hidden opacity-0 transition-all duration-500;

  grid-template-rows: 0fr;
  transition-behavior: allow-discrete;
}
.popup[aria-expanded="true"] .popup__content {
  @apply grid opacity-100;

  grid-template-rows: 1fr;
}
@starting-style {
  .popup[aria-expanded="true"] .popup__content {
    @apply opacity-0;

    grid-template-rows: 0fr;
  }
}
.popup__content--vertical-top {
  @apply bottom-full;
}
.popup__content--vertical-bottom {
  @apply top-full;
}
.popup__content--vertical-center {
  @apply top-1/2 -translate-y-1/2;
}
.popup__content--horizontal-left {
  @apply right-0;
}
.popup__content--horizontal-right {
  @apply left-0;
}
.popup__content--horizontal-center {
  @apply left-1/2 -translate-x-1/2;
}
.popup__content--horizontal-left.popup__content--vertical-center {
  @apply right-full;
}
.popup__content--horizontal-right.popup__content--vertical-center {
  @apply left-full;
}
.popup__content-inner {
  @apply overflow-hidden;
}

/* Notification */
.notification {
  --notification-size: 0.8em;
  --notification-text-color: theme(colors.primary.50);
  --notification-background-color: theme(colors.red.600);
  --notification-pulse-offset-box-shadow-spread-radius-start: 0em;
  --notification-pulse-offset-box-shadow-color-start: hsla(0, 27%, 43%, 1);
  --notification-pulse-offset-box-shadow-spread-radius-middle: 0.2em;
  --notification-pulse-offset-box-shadow-color-middle: hsla(0, 27%, 43%, 0.7);
  --notification-pulse-offset-box-shadow-spread-radius-end: 1em;
  --notification-pulse-offset-box-shadow-color-end: hsla(0, 27%, 43%, 0);
  --notification-pulse-offset-animation-duration: 1.5s;

  @apply relative h-fit w-fit;
}

.notification__icon {
  @apply pointer-events-none absolute left-full top-0 z-10 -translate-x-1/2 -translate-y-1/2 text-nowrap rounded-full text-center leading-none opacity-0 transition-opacity duration-1000;

  min-width: 1.6em;
  padding: 0.3em;
  font-size: var(--notification-size);
  color: var(--notification-text-color);
  background-color: var(--notification-background-color);

  --offset-pulse-box-shadow-spread-radius-start: var(
    --notification-pulse-offset-box-shadow-spread-radius-start
  );
  --offset-pulse-box-shadow-color-start: var(
    --notification-pulse-offset-box-shadow-color-start
  );
  --offset-pulse-box-shadow-spread-radius-middle: var(
    --notification-pulse-offset-box-shadow-spread-radius-middle
  );
  --offset-pulse-box-shadow-color-middle: var(
    --notification-pulse-offset-box-shadow-color-middle
  );
  --offset-pulse-box-shadow-spread-radius-end: var(
    --notification-pulse-offset-box-shadow-spread-radius-end
  );
  --offset-pulse-box-shadow-color-end: var(
    --notification-pulse-offset-box-shadow-color-end
  );
  animation: offsetPulse var(--notification-pulse-offset-animation-duration)
    linear infinite;
}
.notification__icon[aria-hidden="false"] {
  @apply opacity-100;
}

@keyframes offsetPulse {
  0% {
    box-shadow: 0 0 0 var(--offset-pulse-box-shadow-spread-radius-start, 0em)
      var(--offset-pulse-box-shadow-color-start, hsla(0, 27%, 43%, 1));
  }

  70% {
    box-shadow: 0 0 0 var(--offset-pulse-box-shadow-spread-radius-middle, 0.2em)
      var(--offset-pulse-box-shadow-color-middle, hsla(0, 27%, 43%, 0.7));
  }

  100% {
    box-shadow: 0 0 0 var(--offset-pulse-box-shadow-spread-radius-end, 1em)
      var(--offset-pulse-box-shadow-color-end, hsla(0, 27%, 43%, 0));
  }
}
